[pylithapp.metadata]
authors = [Grant Block]
keywords = [full-scale test, 2D, poroelasticity, Theis]
version = 1.0.0
pylith_version = [>=3.0, <6.0]

features = [
    Quasi-static problem,
    LU preconditioner,
    pylith.materials.Poroelasticity,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.problems.SolnDispPresTracStrain,
    pylith.problems.InitialConditionDomain,
    pylith.bc.DirichletTimeDependent,
    pylith.bc.NeumannTimeDependent,
    pylith.meshio.DataWriterHDF5,
    spatialdata.spatialdb.SimpleGridDB,
    spatialdata.spatialdb.UniformDB
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
pylithapp = 1
timedependent = 1
solution = 1
meshiocubit = 1
petscoptions = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = pve_mesh_tri.msh
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the default quadrature order for all subfields.
#
# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 2

# Set the solution subfields appropriate for quasi-static poroviscoelasticity 
# and the basis order for each field.
solution = pylith.problems.SolnDispPresTracStrain

[pylithapp.problem.solution.subfields]
displacement.basis_order = 2
pressure.basis_order = 1
trace_strain.basis_order = 1

[pylithapp.problem]
# Scales for nondimensionalization
normalizer = spatialdata.units.NondimElasticQuasistatic
normalizer.length_scale = 100.0*m
normalizer.relaxation_time = 0.2*year
normalizer.shear_modulus = 10.0*GPa

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
# We have three different materials each with a linear bulk rheology.
materials = [crust, cavity, inner_chamber, outer_chamber]
materials.crust = pylith.materials.Poroelasticity
materials.outer_chamber = pylith.materials.Poroelasticity
materials.inner_chamber = pylith.materials.Poroelasticity
materials.cavity = pylith.materials.Poroelasticity

[pylithapp.problem.materials]
crust.bulk_rheology = pylith.materials.PoroIsotropicLinearMaxwell
outer_chamber.bulk_rheology = pylith.materials.PoroIsotropicLinearMaxwell
inner_chamber.bulk_rheology = pylith.materials.PoroIsotropicLinearMaxwell
cavity.bulk_rheology = pylith.materials.PoroIsotropicLinearMaxwell

[pylithapp.problem.materials.crust]

# `label_value` must match the blocks in `bc.jou` Cubit Journal file.
label_value = 1

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroviscoelastic properties for the outer_chamber
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, solid_viscosity, 
                             total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_xz, total_strain_yz, 
                             viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_xz, viscous_strain_yz, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3, 1000*kg/m**3, 1.0*Pa*s, 0.1, 6.0*GPa, 10.0*GPa, 0.8, 2.0*GPa, 20.0*GPa, 1.0e+25*Pa*s, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-14*m**2]


# Set basis order to 0 for uniform properties and a basis order of 1 for Cauchy stress and strain.
auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1
observers.observer.data_fields = [displacement, trace_strain, pressure, bulk_density, porosity, isotropic_permeability]


[pylithapp.problem.materials.outer_chamber]
# `label_value` must match the blocks in `bc.jou` Cubit Journal file.
label_value = 2

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroviscoelastic properties for the outer_chamber
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, solid_viscosity, 
                             total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_xz, total_strain_yz, 
                             viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_xz, viscous_strain_yz, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3, 1000*kg/m**3, 1.0*Pa*s, 0.2, 6.0*GPa, 10.0*GPa, 0.8, 2.0*GPa, 20.0*GPa, 1.0e+18*Pa*s, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1e-5*m**2]


# Set basis order to 0 for uniform properties and a basis order of 1 for Cauchy stress and strain.
auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1
observers.observer.data_fields = [displacement, trace_strain, pressure, bulk_density, porosity, isotropic_permeability]


[pylithapp.problem.materials.inner_chamber]
# `label_value` must match the blocks in `bc.jou` Cubit Journal file.
label_value = 3
use_source_density = False

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroviscoelastic properties for the inner_chamber
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, solid_viscosity, 
                             total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_xz, total_strain_yz, 
                             viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_xz, viscous_strain_yz, isotropic_permeability]
db_auxiliary_field.data   = [2500*kg/m**3,  1000*kg/m**3, 1.0*Pa*s, 0.8, 6.0*GPa, 10.0*GPa, 0.8, 2.0*GPa, 20.0*GPa, 1.0e+17*Pa*s, 0, 0, 0, 0, 0, 0, 
                             0, 0, 0, 0, 0, 0, 1e-5*m**2]


# Set basis order to 0 for uniform properties and a basis order of 1 for Cauchy stress and strain.
auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1
observers.observer.data_fields = [displacement, trace_strain, pressure, bulk_density, porosity, isotropic_permeability]

[pylithapp.problem.materials.cavity]
# `label_value` must match the blocks in `bc.jou` Cubit Journal file.
label_value = 4
use_source_density = False

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroviscoelastic properties for the inner_chamber
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, solid_viscosity, 
                             total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_xz, total_strain_yz, 
                             viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_xz, viscous_strain_yz, isotropic_permeability]
db_auxiliary_field.data   = [2500*kg/m**3,  1000*kg/m**3, 1.0*Pa*s, 0.99, 6.0*GPa, 10.0*GPa, 0.8, 2.0*GPa, 20.0*GPa, 1.0e+17*Pa*s, 0, 0, 0, 0, 0, 0, 
                             0, 0, 0, 0, 0, 0, 1e-5*m**2]


# Set basis order to 0 for uniform properties and a basis order of 1 for Cauchy stress and strain.
auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1
observers.observer.data_fields = [displacement, trace_strain, pressure, bulk_density, porosity, isotropic_permeability]

# End of file
